---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

export interface ImageMetadata {
  src: string;
  width: number;
  height: number;
  format: string;
}

export interface Props {
    title: string;
    image: ImageMetadata;
    imageName: string
    icons: string[];
    url: string;
    repository: string;
}

const { title, image, imageName, icons, url, repository } = Astro.props
---
<div class="flex flex-col md:flex-row max-w-[90%] md:min-w-full justify-center items-start mb-10">
    <div class="md:max-w-[50%] mb-3 md:mb-0 shadow-md">
        <Image src={`../src/assets/${imageName}.${image.format}`} width={image.width} height={image.height} alt="Project image" class="rounded-lg"/>
    </div>
    <div class="bg-white md:max-w-[30%] rounded-lg mb-6 md:ml-5 px-8 py-4 shadow-md">
        <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-3">
            <h3 class="text-black font-semibold mb-2 md:mb-0 text-3xl">{ title }</h3>
            <div class="flex md:py-1 space-x-2">
                { icons.map(icon => <Icon name={icon} class="w-8 h-8 md:w-9 md:h-9"/>) }
            </div>
        </div>
        <p class="text-black mb-6 md:text-lg">
            <slot />
        </p>
        <div class="flex items-center pb-3">
            <a href={url} class="mr-3 bg-[#1E90FF] rounded-lg px-3 py-1 text-white">Website</a>
        <a href={`https://github.com/natedevxyz/${repository}`} class="bg-[#1E90FF] rounded-lg px-3 py-1 text-white">Repository</a>
        </div>
    </div>
</div>